
<div class="row list" *ngFor="let job of jobs; let i = index">
    <div class="company-logo">
            <img [src]="job.companyLogo" alt="Logo" />
    </div>
    <div class="col-sm-10 title">
        <div class="fw-bold">
            <a><strong>{{job.title}}</strong></a>
        </div>
        <div class="company-color">
            <span>company:</span> {{job.companyName}}  <span>Reference:</span> {{job.reference}}
        </div> 
    </div>
    <div class="span.icon-star">
        <span class="icon-star"></span>
    </div>
</div>
<div class="notFound text-center" *ngIf="jobs?.length === 0">
    <span>Record Not Found</span>
</div>
