.container {
    width: 61%;
    margin: 0 auto;
}
.header {
    text-align: center;
    color: black;

}
.button-group {
    display: flex;
    justify-content: center;
    margin: var(--universal-margin);
}
.button {
    background-color:#e3e1e1; /* Default background color */
    color: black; /* Default text color */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px;
    border: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}
.button.active {
    background-color: black; /* Active background color */
    color: white; /* Active text color */
}