.back-icon {
	font-size: 12px;
	cursor: pointer;
    color: black;
    margin-left: 0.5rem;
}

.back-icon .icon {
	font-size: 24px;
}
.fw-bold {
    font-size: 22px;
    color: black;
    font-weight: bold;
}
.mt-3 {
    margin-top: 1rem;
    color: black;
}
.job-description {
    line-height: 1.6;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.job-description h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}



.job-description li {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}